@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -405px 0 0 400px #605e5c;
    border-radius: 50%;
  }
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  border-radius: 15%;
  background-color: #fff4f1;
  margin: 10px;
  width: 50%;
  border-radius: 15px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.image {
  width: 300px;
  background: #000;
  height: 300px;
  border-radius: 15px;
  z-index: 1;
  margin-right: -10%;
  background-image: url("./images/measure.png");
  background-position: calc(15%) 0;
  background-size: cover;
}
